<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>MyDrones</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="./images/logo.png" alt="">
            <p>My<span>Drones</span></p>
        </div>
        <nav>
            <a href="">Modelos</a>
            <a href="">Acessórios</a>
            <a href="">Assistência Técnica</a>
            <a href="">Curso de Pilotagem</a>
            <a href="">Contato</a>
        </nav>

    </header>
    <div class="after-header">
        <div class="back-content">
            <div class="content">
                <p>Todas as marcas<br> em um só lugar.</p>
            </div>
        </div>
    </div>

    <div class="gallery">
        <div class="box">
            <h2>DJ Mavic</h2>
            <img src="./images/drone1.jpg" alt="">
            <p>6 x de <span>R$380,00<br></span>ou R$2280,00 via boleto</p>
            <a href="">Mais Informações</a>
        </div>
        <div class="box">
            <h2>DJ Phanton 4</h2>
            <img src="./images/drone2.jpg" alt="">
            <p>6 x de <span>R$980,00<br></span>ou R$5880,00 via boleto</p>
            <a href="">Mais Informações</a>
        </div>
        <div class="box">
            <h2>DJ Inspire</h2>
            <img src="./images/drone3.jpg" alt="">
            <p>6 x de <span>R$780<br></span>ou R$4680,00 via boleto</p>
            <a href="">Mais Informações</a>
        </div>
    </div>
</body>

</html>