<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>CloudMe</title>

</head>

<body>
    <header>
        <div class="logo">
            <i><img src="images/logo.png" alt=""></i>
            <p>CLOUDME</p>
        </div>
        <nav>
            <a href="">Hosting</a>
            <a href="">Domains</a>
            <a href="">Pages</a>
            <a href="">Contact</a>
        </nav>
    </header>

    <div class="container">
        <main>
            <img src="images/empresa.jpg" alt="">
            <div class="text">
                <h2>Soluções para sua empresa.</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae nulla modi quaerat distinctio
                    ratione veritatis illum libero aut, nemo quisquam necessitatibus accusamus odio ad harum blanditiis,
                    non laudantium? Nostrum, ratione natus quidem ipsa fugiat labore commodi pariatur dolore assumenda
                    velit molestiae voluptatem inventore, ut facilis, distinctio architecto molestias perferendis et?
                </p>
                <a href="">Saiba como</a>
            </div>
        </main>

        <div class="gallery">
            <div class="box1">
                <img src="images/data.png" alt="">
                <h2>Cloud Databases</h2>
            </div>
            <div class="box1">
                <img src="images/git.png" alt="">
                <h2>Pre-installed Git</h2>
            </div>
            <div class="box1">
                <img src="images/dev.png" alt="">
                <h2>Developer tools</h2>
            </div>
        </div>
        <div class="gallery2">
            <div class="box2">
                <img src="images/giga.png" alt="">
                <h2>Gigabit uplinks</h2>
            </div>
            <div class="box2">
                <img src="images/ssd.png" alt="">
                <h2>SSD-Only</h2>
            </div>
            <div class="box2">
                <img src="images/escala.png" alt="">
                <h2>Running at scale</h2>
            </div>
        </div>
    </div>

</body>

</html>