<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>MyTrip</title>

</head>

<body>
    <header>
        <div class="logo">
            <i><img src="images/logo.png" alt=""></i>
            <p>MyTrip</p>
        </div>
        <nav>
            <a href="">Hospedagem</a>
            <a href="">Passagens</a>
            <a href="">Pacotes</a>
            <a href="">Transfers</a>
            <a href="">Disney</a>
            <a href="">Cruzeiros</a>
        </nav>
    </header>


    <div class="gallery">
        <div class="box">
            <img src="images/destino1.jpg" alt="">
            <h2>Canadá</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sequi asperiores minima nostrum quas, atque
                autem.</p>
            <a href="">Reservar</a>
        </div>
        <div class="box">
            <img src="images/destino2.jpg" alt="">
            <h2>Portugal</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero ipsum ex. Cumque sunt
                distinctio hic.</p>
            <a href="">Reservar</a>
        </div>
        <div class="box">
            <img src="images/destino3.jpg" alt="">
            <h2>Nova York</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptate quas cum, iste maxime iusto
                illum.</p>
            <a href="">Reservar</a>
        </div>
        <div class="box">
            <img src="images/destino4.jpg" alt="">
            <h2>Itália</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officiis adipisci similique sapiente eum
                iste cumque.</p>
            <a href="">Reservar</a>
        </div>
    </div>

    <div class="content-email">
        <div class="box-email">
            <div class="email">
                <h2>Cadastre-se para ter acesso às <br> nossas promoções.</h2>
                <input type="text" name="email_usuario" placeholder="Seu Email" size="50">
                <a href="">Cadastrar</a>
            </div>
        </div>
    </div>


</body>

</html>