<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>XYZ SYS</title>

</head>

<body>
    <header>
        <div class="logo">
            <p>XYZ<span>SYS</span></p>
        </div>
        <nav>
            <a href="">CLIENTES</a>
            <a href="">SOLUÇÕES</a>
            <a href="">CASES</a>
            <a href="">LOGIN</a>
            <a href="">CONTATO</a>
        </nav>
    </header>

    <div class="container">
        <main>
            <div class="image">
                <div class="content">
                    <h2>DIGITAL CREATIVE</h2>
                    <h1>XYZ/SYSTEM</h1>
                    <h3>World-Class Technology</h3>
                </div>
            </div>
        </main>

        <div class="gallery">
            <div class="box">
                <img src="./images/icone-desk.JPG" alt="">
                <h2>Website Solutions</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, beatae explicabo! Facere iste dolore
                    cumque, vel cupiditate vero beatae inventore?</p>
            </div>
            <div class="box">
                <img src="./images/icone-mobile.JPG" alt="">
                <h2>Mobile Solutions</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In molestiae veritatis quos placeat ipsum sint tempore. Porro suscipit possimus perferendis!</p>
            </div>
            <div class="box">
                <img src="./images/icone-brand.JPG" alt="">
                <h2>Brand Solutions</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto perspiciatis quibusdam iure minus illo doloribus illum. Consectetur voluptas saepe molestiae?</p>
            </div>
        </div>
    </div>
</body>

</html>